{
    "consumerKey": "ConsumerKey",
    "consumerSecret": "ConsumerSecret",
    "accessToken": "AppAccessToken",
    "accessTokenSecret": "AppAccessKey",
    "callback": "",
    "redisPrefix": "hashtag-responder:",
    "searchQuery": "#searchForThisHashag",
    "photoTweetsOnly": true,
    "retweetOriginal": true,
    "replyWith" : [
    	"Hey $SCREEN_NAME$, thanks for the shout out!",
    	"Looking good $SCREEN_NAME$!"
    ],
    "excludeScreenNames" : [
        "DontIncludeMe",
        "OrMe"
    ]
}